.menu {
    width: 16rem;
}


.squads,.projects,.indicators {
    margin-top: 48px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 32px;
}

.indicators .card:not(:last-child) {
    margin-bottom: 0;
}

.indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indicator-detailed {
    border-radius: 100% !important;
    border: black 8px solid;
    width: 200px;
    height: 200px;
    align-content: center;
    margin: 24px auto;
}

.project {
    /*height: 200px;*/
    width: 400px;
}

.projects {
    display: flex;
}

.squad {
    height: 200px;
    width: 400px;
}


body {
    background-color: #FAFAFA;
    min-height: 100vh;
}

.page-content {
    background-color: white;
    height: 100%;
}

.nps {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.nps-score {
    display: flex;
}

.nps-details {
    display: grid;
    grid-template-columns: min-content auto auto auto;
    column-gap: 16px;
}

.indicator-score {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 16px;
    margin-left: 16px;
}


.box {
    margin-bottom: 0 !important;
}

.root-content {
    height: 100%;
    width: 100%;
}


.toaster {
    min-width: 250px;
    margin-left: -125px;
    text-align: center;
    position: fixed !important;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

.toaster.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.dashboard {
    display: flex;
    flex-flow: row wrap;
    gap: 32px;
}

.dashboard .indicator {
    height: 25vh;
    width: 30vw;
}

.dashboard .indicator.empty {
    display: flex;
    justify-content: center;
    align-items: center;
}


.box .header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}


.modal-card-foot .buttons button {
    margin-right: 24px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}


.card:not(:last-child) {
    margin-bottom: unset !important;
}

span.data {
    white-space: nowrap;
}

tbody {
    aspect-ratio: unset !important;
}


.burnup > table > tbody > tr > th {
    font-weight: lighter;
    font-size: 10px;
    text-wrap: nowrap;
}


.burnup {
    width: 100%;
    height: 100%;
}
.burnup .column {
    --aspect-ratio: 4 / 3;
}


.hero.header {
    min-height: 8rem;
}

.table.report > tbody > tr > td:not(:first-child) {
    text-align: center;
}