@use "../node_modules/bulma/sass" as * with (
  //$family-sans-serif: '"Atkinson Hyperlegible", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif',
  $family-sans-serif: 'Luciole, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif',
  $turquoise: #0094a2,
  $green: #12a754,
  $yellow: #ffbf34,
  $red: #A2221C,
  $blue: hsl(221, 14%, 21%),

  $menu-nested-list-margin: 1.25rem,
  $menu-label-font-size: 1rem,
);

@import "../node_modules/bulma-timeline/dist/css/bulma-timeline.min.css";


.timeline .timeline-item .timeline-marker.is-danger {
  background-color: var(--bulma-danger) !important;
}
.timeline .timeline-item.is-danger::before {
  background-color: var(--bulma-danger) !important;
}

.timeline .timeline-item .timeline-marker.is-warning {
  background-color: var(--bulma-warning) !important;
}
.timeline .timeline-item.is-warning::before {
  background-color: var(--bulma-warning) !important;
}

.timeline .timeline-item .timeline-marker.is-success {
  background-color: var(--bulma-success) !important;
}
.timeline .timeline-item.is-success::before {
  background-color: var(--bulma-success) !important;
}

.timeline .timeline-item .timeline-marker.is-info {
  background-color: var(--bulma-info) !important;
}
.timeline .timeline-item.is-info::before {
  background-color: var(--bulma-info) !important;
}

.timeline .timeline-item .timeline-marker {
  display: flex !important;
  justify-content: center;
  align-items: center;
  color: white;
}

.timeline .timeline-item::before {
  width: 3px;
}

@charset "utf-8";

/*
@font-face {
  font-family: "Luciole";
  src: url("/static/fonts/luciole/Luciole-Regular/Luciole-Regular.eot"), url("/static/fonts/luciole/Luciole-Regular/Luciole-Regular.ttf") format("truetype"), url("/static/fonts/luciole/Luciole-Regular/Luciole-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

*/

@font-face {
  font-family: 'Luciole';
  src: url('/static/fonts/luciole/Luciole-Regular/Luciole-Regular.eot'); /* IE9 Compat Modes */
  src: url('/static/fonts/luciole/Luciole-Regular/Luciole-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/static/fonts/luciole/Luciole-Regular/Luciole-Regular.woff') format('woff'), /* Modern Browsers */
  url('/static/fonts/luciole/Luciole-Regular/Luciole-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/static/fonts/luciole/Luciole-Regular/Luciole-Regular.svg#Luciole-Regular') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}


@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*@font-face {
  font-family:Luciole;
  font-weight:400;
  font-style:normal;
  src:local("Luciole Regular"),
  local("Luciole-Regular"),
  url(https://www.luciole-vision.com/fonts/luciole/Luciole-Regular.woff2) format("woff2"),
  url(https://www.luciole-vision.com/fonts/luciole/Luciole-Regular.woff) format("woff")
}*/

.menu-left {
/*  background-color: rgb(31, 34, 41); */
}

.hero.header {
/*  background-color: rgb(31, 34, 41); */
  z-index: 601;
}

body {
  background-color: rgb(31, 34, 41);
}

html {
  background-color: rgb(31, 34, 41);
}

.menu-list a,
.menu-list button,
.menu-list .menu-item {
  background-color: unset;
  border-radius: unset;
  color: white;
}

.menu-list a {
  border-left: transparent 3px solid;
}

.menu-list a.is-active {
  color: var(--bulma-warning);
  border-left: var(--bulma-warning) 3px solid;
  background-color: hsla(var(--bulma-warning-h), var(--bulma-warning-s), var(--bulma-warning-l), 0.05);
}

.has-border-warning {
  border-color: hsla(var(--bulma-warning-h), var(--bulma-warning-s), var(--bulma-warning-l), 1);
}

.has-border-danger {
  border-color: hsla(var(--bulma-danger-h), var(--bulma-danger-s), var(--bulma-danger-l), 1);
}

.has-border-success {
  border-color: hsla(var(--bulma-success-h), var(--bulma-success-s), var(--bulma-success-l), 1);
}

.has-border-primary {
  border-color: hsla(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-l), 1);
}

.has-border-dark {
  border-color: hsla(var(--bulma-dark-h), var(--bulma-dark-s), var(--bulma-dark-l), 1);
}






















